.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 0 28px;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
}

.header__logo {
  margin-right: 24px;
  width: 89px;
  height: 40px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 700;
}

.header__date-and-location {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #000;
}

.header__logo-link {
  text-decoration: none;
}
.header__profile-link {
  text-decoration: none;
}

.header__auth {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 20px;
}

.header__auth-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
