.modal__content_type_image {
  position: relative;
  max-width: 498px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 16px;
  box-sizing: border-box;
}

.modal__caption {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.modal__weather {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: #000000;
}

.modal__image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0;
}

.modal__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__delete {
  background: none;
  border: none;
  color: #ff4d00;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 35px;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px 32px;
  background: #fff;
  box-sizing: border-box;
}
