.sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-decoration: none;
  border-bottom: none;
}

.sidebar__user-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.sidebar__username {
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
}

.sidebar__button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0p 0 20px;
}

.sidebar__button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
